body {
  font-family: 'Open Sans', sans-serif;
  color: #0A2239;
  padding: 0px;
  margin: 0px 0px;
  background-color: rgb(245,245,245);
  font-size: 20px;
}

#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(230,230,230)
}

#sidebar:hover {
  background-color: rgb(210,210,210)
}
.container {
  margin-left: 300px;
}

.card {
  text-align: center;
  background-color: #fff;
  width: 900px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#sidebar li {
  margin-top: 50px;
  padding-left: none;
}

h1,
h2,
h3 {
  font-family: 'Libre Baskerville', serif;
  color: #708D81;
  font-size: 30px;
  line-height: 1,6;
}

a {
  color: #8d99ae;
  text-decoration: none;
}

.inline {

}
.inline li {
  display: inline-block;
  padding: 0px 10px;
}

.picture-round {
  height: 200px;
  width: 200px;
  border-radius: 55%;
}

#profile {
  border-radius: 50%;
}
